table {
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
}

td {
  text-align: center;
}

.departure-station,
.arrival-station {
  margin: 8px 0;
}

.station-input,
.radio-button,
.search {
  margin: 16px 0;
}