table {
   
    border: 1px solid #444444;
  }
  th, td {
    border: 1px solid #444444;
    text-align: center;
  }
  #section-button{
    padding:5px

  }
  input{
    margin-top:10px;
  }
  button{
    margin-top: 20px;
  }